In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [74]:
df = pd.read_csv('StudentsPerformance.csv')

In [76]:
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
df['average score'] = df['total score']/3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

## Data Preprocessing

In [78]:
X = df.drop('average score', axis=1)
y = df['average score']

In [80]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [("OneHotEncoder", oh_transformer, cat_features),
    ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [82]:
## Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [84]:
# Encode and scale X 
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [86]:
X_train.shape

(700, 21)

### Create an Evaluate Function to give all metrics after model Training

In [88]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2 = r2_score(true,predicted)
    return mae, mse, rmse, r2

In [90]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae ,model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_train_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 1.0000
- Mean Absolute Error: 0.8010
- R2 Score: 0.9948
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.0925
- Mean Absolute Error: 0.8631
- R2 Score: 0.9947
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 0.0064
- Mean Absolute Error: 0.0051
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0070
- Mean Absolute Error: 0.0055
- R2 Score: 1.0000
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 1.9624
- Mean Absolute Error: 1.5042
- R2 Score: 0.9800
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2.6208
- Mean Absolute Error: 1.8869
- R2 Score: 0.9695
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.8406
- Mean Absolute Error: 0.1578
- R2 Score: 0.9969
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 0.1584
- Mean Absolute Error: 0.0301
- R2 Score: 0.9999
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.8521
- Mean Absolute Error: 0.1232
- R2 Score: 0.9968
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.0126
- Mean Absolute Error: 0.0087
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.9453
- Mean Absolute Error: 0.2249
- R2 Score: 0.9960
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 0.1161
- Mean Absolute Error: 0.0948
- R2 Score: 0.9999
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.1107
- Mean Absolute Error: 0.3851
- R2 Score: 0.9945
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1.1228
- Mean Absolute Error: 0.9167
- R2 Score: 0.9934
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.4215
- Mean Absolute Error: 0.9866
- R2 Score: 0.9910
===================================

#### Results

In [97]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False).reset_index(drop=True)

                Model Name  R2_Score
0        Linear Regression  1.000000
1                    Ridge  1.000000
2            Decision Tree  0.996865
3  Random Forest Regressor  0.996779
4             XGBRegressor  0.996036
5                    Lasso  0.994706
6    CatBoosting Regressor  0.994528
7       AdaBoost Regressor  0.991036
8    K-Neighbors Regressor  0.969533